@{
    ViewBag.Title = "Home Page";
}

<header>
    <h1>EpicHotel</h1>
    <p>Un'oasi di relax nel cuore della tua Città</p>
</header>
<main>
    <h2>Le nostre camere</h2>
    <p>Alcune camere offrono una vista mozzafiato sulla città o sulle montagne circostanti.</p>
    <ul>
        <li>Camere Singole</li>
        <li>Camere Doppie</li>
    </ul>

    <h2>I nostri servizi</h2>
    <ul>
        <li>Piscina all'aperto</li>
        <li>Vasca idromassaggio</li>
        <li>Centro benessere</li>
        <li>Ristorante con vista panoramica</li>
        <li>Parcheggio gratuito</li>
        <li>Connessione Wi-Fi</li>
        <li>Colazione in camera</li>
        <li>Bevande e Cibo nel mini bar</li>
        <li>Letto aggiuntivo</li>
        <li>Culla</li>
    </ul>

    <h2>La nostra posizione</h2>
    <p>L'hotel si trova in una posizione strategica, vicino alle Attrazioni turistiche.</p>
    <p>A pochi passi da negozi, ristoranti e bar.</p>
    <p>Collegamenti facili con i mezzi pubblici.</p>

    <h2>Perché scegliere noi</h2>
    <ul>
        <li>Atmosfera accogliente e familiare</li>
        <li>Personale cordiale e attento alle vostre esigenze</li>
        <li>Servizi di alta qualità</li>
        <li>Prezzi convenienti</li>
    </ul>
</main>